
 
/*====================================
  Media Queries
==================================== */

@include mediaQ(medium) {
  
  /**********************************
  TWO COLUMN LAYOUT
  ***********************************/
  
  .main-nav {
    margin: 0 auto;
    text-align: center;

  }


  .main-nav li {
    margin: 0 10px;
    display: inline-block;

  }

  .main-nav li a {
    padding: 15px 10px;
  }
  
  #gallery {
    width: 100%;
  }

  .tagline {
    margin: 10px 0 0 0;
    text-align: left;
    font-size: $font-s-h;
  }

  .perfil {
    margin-top: 50px;
    margin-right: 0;
    margin-left: 0;
  }

  .image-perfil {
    float: right;
    width: 35%;
    padding-left: 10px;
    margin-left: 10px;
    margin-top: -20px;
  }
  
  
  #gallery li {
    float: left;
    width: 48%;
    margin: 1%;
  }

  #portfolio h1,
  #contact h1 {
    font-size: $font-s-p;
  }

  #gallery h3 {
    font-size: $font-s-h;
  }

  #contact p {
    font-size: $font-s-h;
  }
  
  .main-footer .footer-menu{
  display: inline; 
  float: right;
  margin-top: 10px;
}

  .main-footer .footer-menu li {
    float: left;
    text-transform: uppercase;
    margin-left: 15px;
    font-size: $font-s-nav;
  }

  .main-footer .footer-menu li a {
    color: $color-text-footer;  
    padding: 2px;
    font-weight: bold;
  }

  .footer-nav {
    float: left;
  }

  .footer-nav .back-top {
    display: none;

  }
  
}

@include mediaQ(large) {

  /**********************************
  THREE COLUMN LAYOUT
  ***********************************/


  h1 {
    font-size: $font-b;
  }
   .image-perfil {
    width: 30%;
    margin-top: -40px;
    margin-left: 20px;
   }

  .tagline {
    margin: 60px 0 0 0;
    font-size: $font-s-h;
  } 
  
  header {
    margin-bottom: 60px;
  }

 #top-container {
  width: 100%;
  margin-top: 30px;
 }

 .clear:after{
    content: "  ";
    display: table;
    clear: both;
  }

  .name{
    float: left;
    text-align: left;
  }

  .main-nav {
    float: right;
    text-align: right;
    margin-top: 40px;
    
  }

  .main-nav li {
    display: inline-block;
  }

  #gallery li {
    width: 31.3333333%;
  }

   #gallery li:nth-child(4n) {
    clear: left;
  }

  #wrapper {
    width: 100%;
    max-width: 1280px;
  }

  #contact {
    padding: 0 130px 60px 130px;
  }
 
}
