/* ---- Layout Containers ---- */
#wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 3%;
  text-align: center;

}

#portfolio {
  @extend %clear;
}

#portfolio h1, 
#contact h1 {
  @extend %upper-text;
  font-size: $font-s-h;
  margin-top: 90px;
  margin-bottom: 50px;
  padding: 0 20px;

}

#gallery li {
  padding-top: 10px;
}

#gallery h3 {
  @extend %color-nav;
  margin-top: 20px;
  font-weight: normal;
  font-size: $font-s-ht;
  
}